<nav class="navbar navbar-expand-lg .text-light" style="background-color: blue; ">
  <div class="container-fluid".text-light:>
    <a class="nav-link active text-black" aria-current="page" <%=link_to "Book Reviews", root_path%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">     
        <li class="nav-item " >
          <a class="nav-link active text-black" aria-current="page" <%=link_to "Home", books_path%></a>
        </li>
        
            <% if admin? %>
              <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
              <span class="badge bg-success"> <%= current_user.role  %> </span>
              </a>
              <ul class="dropdown-menu">
                <li><a class="nav-link active text-black" aria-current="page" <%=link_to "All Registered Users", users_path %></a></li>
                <li><a class="nav-link active text-black" aria-current="page" <%=link_to "All Authors", authors_path %></a></li>
              </ul>  
            <%  elsif writer? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.email %>
              <span class="badge bg-success"> <%= current_user.role  %> </span>
              </a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link active text-black" aria-current="page" <%=link_to "Post Book", new_book_path%></a></li>
                  <li><a class="nav-link active text-black" aria-current="page" <%=link_to "Your Profile", author_path(1)%></a></li>
                  <li><a class="nav-link active text-black" aria-current="page" <%=link_to "My Books", user_path(current_user)  %></a></li>
                  <li><a class="nav-link active text-black" aria-current="page" <%= link_to "My all reviews", book_reviews_path(Book) %></a></li>
                  
                </ul>
              <%  elsif reviewer? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-black" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= current_user.email %>
                  <span class="badge bg-success"> <%= current_user.role  %> </span>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link active text-black" aria-current="page" <%=link_to "My Profile" %></a></li>
                  <li><a class="nav-link active text-black" aria-current="page" <%=link_to "Add Review", books_path(@book) %></a></li>
                  <li><a class="nav-link active text-black" aria-current="page" <%= link_to "My all reviews", book_reviews_path(Book) %></a></li>
                </ul>
              <% end %>
            
            </li>
          <div class="navbar-end">
            <div class="navbar-item">
            <div class="buttons">
            <% if user_signed_in? %>      
              <%= link_to "Log Out" , destroy_user_session_path(@user), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-success"  %> </a>
            <%else%>    
              <%= link_to "Sign up",  new_user_registration_path(@user), class: "btn btn-success" %>
              <%= link_to "Log in",  new_user_session_path(@user), class: "btn btn-success" %>
            <%end%>
          </a>
        </div>
      </div>
      </ul>
    </div>
  </div>
</nav>